@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-flash-green {
        animation: flashGreen 1s ease-out;
    }
    .animate-flash-red {
        animation: flashRed 1s ease-out;
    }
}

@keyframes flashGreen {
    0% { color: #4ade80; background-color: rgba(74, 222, 128, 0.2); }
    100% { color: inherit; background-color: transparent; }
}

@keyframes flashRed {
    0% { color: #f87171; background-color: rgba(248, 113, 113, 0.2); }
    100% { color: inherit; background-color: transparent; }
}

body {
    background-color: #111827; /* gray-900 */
    color: white;
}
